/* App.css */
body,
html,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
/* Loading bar container */
#loading-bar-container {
    width: 80%;
    background-color: #ddd;
    border-radius: 25px;
    border: 2px solid #889dcb;
    margin-top: 20px;
    overflow: hidden;
}

/* Loading bar itself */
#loading-bar {
    width: 0%;
    height: 30px;
    background-color: #00aaff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    transition: width 0.5s ease; /* Smooth transition for loading bar */
}

/* Text inside the loading bar */
#loading-text {
    font-size: 16px;
    color: white; /* Text color inside the bar */
}

/* Adjust existing #loading for positioning */
#loading {
    font-size: 16px;
    color: #fff; /* Adjust color to white for better contrast */
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('icons/background_landscape.png');
    background-size: cover;
    background-position: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* Keyframes for text fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#preloader img {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    margin-bottom: 20px;
    animation: bounce 2s infinite;
}

.preloader-text {
    font-size: 20px; /* Adjust font size as needed */
    color: #fff; /* Text color */
    background: linear-gradient(to right, rgba(72, 144, 226, 0.8), rgba(255, 255, 255, 0.5)); 
    padding: 10px 20px; 
    border-radius: 8px; 
    text-align: center;
    font-family: 'Arial', sans-serif; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
    margin-top: 10px; 
    animation: fadeIn 3s ease-in-out;
}

#loading {
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}
/* Map container */
#map {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}
/* Styles for the report form container */
#reportFormContainer {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 54, 95, 0.8);
    padding: 20px;
    border: 2px solid #889dcb;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* Styles for form labels */
#reportForm label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff; /* White text color */
}

/* Styles for form inputs */
#reportForm input[type="text"],
#reportForm input[type="number"],
#reportForm textarea {
    width: calc(100% - 22px); /* Adjust width to fit within container */
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #ffffff;
}


#reportForm button.cancel {
    background-color: #ccc;
    color: #000000; /* Black text color for cancel button */
}

#reportForm button:hover {
    opacity: 0.8;
}

.count-container {
    position: absolute;
    top: 200px;
    left: 10px;
    background: rgba(19, 39, 96, 0.613);
    color: white;
    border-radius: 10px;
    border: 2px solid #889dcb;
    padding: 7px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 1290;
    font-family: Arial, sans-serif;
}

.count-item {
    display: flex;
    align-items: center;
    background-color: rgba(10, 28, 61, 0.883);
    color: #fff;
    border-radius: 8px;
    padding: 1px 1px;
    font-size: 10px;
    font-weight: bold;
}

       .count-icon {
            width: 24px; /* Icon size */
            height: 24px;
            margin-right: 8px; /* Space between icon and count */
        }

.count-text {
    display: inline; /* Pastikan teks muncul */
    font-size: 14px; /* Atur ukuran teks */
    color: white;    /* Warna teks */
}

.count-container img {
    display: inline-block; /* Pastikan gambar muncul */
    vertical-align: middle; /* Agar sejalan dengan teks */
}

#reset-opacity {
    position: absolute; /* Posisi absolut */
    top: 125px; /* Jarak dari atas */
    left: 5px; /* Jarak dari kanan */
    background: none; /* Tanpa latar belakang */
    border: none; /* Tanpa border */
    cursor: pointer; /* Tunjukkan kursor pointer saat hover */
    padding: 5px; /* Padding untuk memberi ruang di sekitar gambar */
    outline: none; /* Hapus outline default */
    transition: transform 0.2s; /* Tambahkan transisi untuk efek hover */
    z-index: 1300; /* Pastikan tombol berada di atas elemen lain */
}

#reset-opacity img {
    width: 50px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
    height: 50px;
    display: block; /* Hapus spasi di bawah gambar */
}

#reset-opacity:hover {
    transform: scale(1.1); /* Efek zoom saat hover */
}

#reset-opacity:focus {
    outline: 2px solid #000; /* Outline saat tombol memiliki fokus */
}

.count-container > div {
    display: none; /* Sembunyikan semua loc-type pada awalnya */
}

/* Pop-up background */
/* Pop-up background */
.popup {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 1500; /* Ensure it's above all other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pop-up content */
.popup-content {
    background-color: rgb(10, 18, 44);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    max-width: 90%; /* Make sure it doesn't go beyond 90% of the screen on smaller devices */
    box-shadow: 0px 2px 6px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Close button */
.popup .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.popup .close:hover,
.popup .close:focus {
    color: black;
}

/* Icon above the title */
.popup-content img {
    width: 180px; /* Adjust the size as needed */
    height: auto; 
    display: block; 
    margin: 0 auto 10px; /* Center the icon and add margin below */
}

/* Donation button */
.popup .donate-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #02a0c5; /* Blue background */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.popup .donate-btn:hover {
    background-color: #00cc00; /* Neon green on hover */
    box-shadow: 0 0 20px rgba(0, 255, 0, 1), 0 0 30px rgba(0, 255, 0, 0.8); /* Neon glow effect */
    transform: scale(1.05); /* Zoom effect on hover */
}

/* PayPal button */
.popup-content .paypal-button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-top: 10px; 
    text-decoration: none; 
    color: #fff; /* White text */
}

/* PayPal icon */
.popup-content .paypal-button img {
    width: auto; 
    height: 40px; 
    margin-right: 5px; 
}


/* CSS untuk menyembunyikan logo Google Maps */
.gm-style-cc {
    display: none !important;
}
.donate-container {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 1000; /* Pastikan berada di atas konten lain */
}

.donate-btn {
    display: inline-block;
    padding: 5px 20px;
    background-color: #02a0c5; /* Warna biru */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}
.donate-btn:hover {
    background-color: #00cc00; /* Warna hijau neon saat hover */
    box-shadow: 0 0 20px rgba(0, 255, 0, 1), 0 0 30px rgba(0, 255, 0, 0.8); /* Efek neon lebih terang saat hover */
    transform: scale(1.05); /* Efek zoom saat hover */
}
.trakteer-overlay {
  position: fixed;
  bottom: 120px;
  right: 120px;
  width: 225px;
  height: 265px;
  z-index: 20;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out; /* Animasi geser */
}


.trakteer-frame {
  width: 290%;
  height: 290%;
  transform: scale(0.6);
  transform-origin: 0 0;
  border: none;
  display: block;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background: #ff5b5b;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  z-index: 30;
}

.close-btn:hover {
  background: #ff1e1e;
}

.close-btn:hover {
  background: #ff1e1e;
}

.toggle-legend-container, .toggle-new-filters-container {
  position: absolute;
  z-index: 1500;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  top: 10px; /* Position 10px from the bottom */
  left: 10px;   /* Position 10px from the left */
}

.toggle-legend-container + .toggle-new-filters-container {
  top: 70px; /* Stack the second button 50px above the first one */
}

.toggle-legend-container:active,
.toggle-new-filters-container:active {
  box-shadow: 0 0 15px 5px rgb(255, 224, 25);
}

.toggle-legend-container img,
.toggle-new-filters-container img {
  width: 50px;
  height: 50px;
}

.filter-container,
.new-filter-container {
  display: block; /* Tampilkan saat halaman dimuat */
  position: absolute;
  z-index: 1000;
  gap: 10px;
  background: rgba(19, 39, 96, 0.613);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.filter-container {
  top: 10px; /* Posisi dari atas */
  left: 60px; /* Posisi dari kiri */
  width: auto; /* Lebar otomatis */
  height: 20px; /* Tinggi */
  display: flex; /* Menggunakan flexbox */
  flex-direction: row; /* Konten dalam baris */
  flex: 1; /* Membolehkan pertumbuhan */
}

.new-filter-container {
  top: 80px; /* Posisi dari atas */
  left: 70px; /* Posisi dari kiri */
  height: 120px; /* Tinggi */
  width: 90%; /* Lebar 90% dari elemen induk */
  display: flex; /* Menggunakan flexbox */
  flex-direction: row; /* Konten dalam baris */
  flex: 1; /* Membolehkan pertumbuhan */
  object-fit: cover; /* Mengatur gambar agar terpotong dengan baik (jika ada gambar) */
}

#fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden; /* Membatasi tampilan agar tidak ada bagian yang keluar */
}

#fullscreen-image img {
    width: auto; /* Membiarkan gambar melebihi lebar layar jika perlu */
    height: 100vh; /* Mengisi tinggi viewport */
    object-fit: contain; /* Menjaga proporsi gambar */
    transform: scale(3) translateX(0%)/* Mulai dengan zoom dan geser ke kanan */
    transform-origin: center right; /* Zoom berasal dari tengah ke arah kanan */
    transition: transform 2s ease; /* Transisi zoom dan geser */
}

@keyframes zoomOut {
    from {
        transform: scale(3);
    }
    to {
        transform: scale(1);
    }
}

.filter-container .filter-btn,
.new-filter-container .filter-btn {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color:rgb(10, 18, 44);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-transform: capitalize;
  transition: background-color 0.3s ease;
  flex-grow: 1;
  text-align: center;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.856);
}

.filter-container .filter-btn:hover,
.new-filter-container .filter-btn:hover {
  background-color: rgba(72, 144, 226, 0.8);
}

.filter-container .filter-btn.active,
.new-filter-container .filter-btn.active {
  background-color: #004D40;
}

.filter-container .filter-checkbox-btn,
.new-filter-container .filter-checkbox-btn {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: rgba(10, 28, 61, 0.883);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(4, 26, 224, 0.15);
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.filter-container .filter-checkbox-btn:hover,
.new-filter-container .filter-checkbox-btn:hover {
  background-color:rgba(0, 76, 255, 0.455);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.576);
}

/* Logo */
#logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 150px;
  z-index: 1500;
}

@media (max-width: 600px) {
    #preloader {
        background-image: url('icons/background_preload.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .filter-container {
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        max-width: 90%;
        left: 70px;
        top: 10px;
        height: 80px;
        padding: 0px;
        flex-direction: row;
        box-sizing: border-box;
        gap: 1px;
        border: 2px solid #889dcb;
        animation: slide-right 0.5s ease-out;
        overflow: hidden;
    }

    .filter-container .filter-checkbox-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(50% - 1px);
        padding: 0px;
        font-size: 0px; /* Hide text */
        height: 24px;
        box-sizing: border-box;
        margin: 0px;
        flex-shrink: 1;
        flex-grow: 0;
    }

    .filter-container .filter-checkbox-btn input[type="checkbox"] {
        width: 14px;
        height: 14px;
    }

    .filter-container .filter-checkbox-btn img {
        width: 14px;
        height: 14px;
    }

/* Keyframes untuk animasi slide */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) translateX(0);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) translateX(0);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) translateX(100%);
    }
}

/* CSS untuk container dengan animasi slide */
.new-filter-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw; /* Lebar viewport */
    height: 450px; /* Tinggi container yang lebih besar untuk menampung tombol yang lebih besar */
    padding: 90px 20px; /* Tambahkan padding kiri dan kanan untuk ruang ekstra */
    justify-content: flex-start; /* Posisikan tombol dari kiri */
    align-items: center; /* Pusatkan tombol secara vertikal */
    gap: 60px; /* Jarak antar tombol */
    border: none;
    background: none;
    overflow-x: auto; /* Aktifkan scroll horizontal */
    overflow-y: hidden; /* Sembunyikan scroll vertikal */
    scroll-snap-type: x mandatory; /* Aktifkan scroll snapping */
    box-sizing: border-box;
    position: fixed; /* Posisikan container relatif terhadap viewport */
    top: 50%; /* Pusatkan container secara vertikal */
    left: 50%; /* Pusatkan container secara horizontal */
    transform: translate(-50%, -50%); /* Pusatkan container dengan benar */
    z-index: 1000; /* Pastikan container berada di atas elemen lain */
    opacity: 0; /* Mulai dengan opacity 0 */
    transition: opacity 0.5s ease; /* Efek transisi untuk opacity */
}

/* Animasi muncul dari kanan */
.new-filter-container.slide-in {
    animation: slideIn 0.5s ease-out forwards; /* Animasi muncul */
}

/* Animasi hilang ke kiri */
.new-filter-container.slide-out {
    animation: slideOut 0.5s ease-in forwards; /* Animasi menghilang */
}

/* CSS untuk tombol */
.new-filter-container .filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: transparent;
    box-sizing: border-box;
    font-size: 16px; /* Ukuran font */
    color: White;
    text-align: center;
    width: 200px; /* Ukuran tombol */
    height: 200px; /* Tinggi tombol */
    background-size: cover;
    background-position: center;
    flex-shrink: 0; /* Mencegah tombol menyusut */
    scroll-snap-align: center; /* Pusatkan tombol di viewport */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efek transisi untuk transformasi dan box-shadow */
}
   .new-filter-container .filter-btn:first-child {
        margin-left: 200px; /* Margin kiri pada tombol pertama */
        margin-right: 2px;
   }
    .new-filter-container .filter-btn.hover {
        transform: scale(1.5); /* Perbesar tombol saat hover */
        box-shadow: 0 0 10px rgba(255, 165, 0, 0.8); /* Efek box-shadow saat hover */
    }

    .new-filter-container .filter-btn:hover {
        transform: scale(1.5); /* Perbesar tombol saat hover */
        box-shadow: 0 0 10px rgba(255, 165, 0, 0.8); /* Efek box-shadow saat hover */
    }

.new-filter-container .filter-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; /* Tambahkan transisi pada transform */
}

.new-filter-container .filter-btn .button-text {
    display: block;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.9); /* Latar belakang semi-transparan untuk teks */
    color: #fff;
    padding: 2px 0; /* Padding untuk teks */
    font-size: 16px; /* Ukuran font teks */
    transition: opacity 0.3s ease; /* Efek transisi untuk opacity */
}
.new-filter-container .filter-btn:hover img {
    transform: scale(1.2); /* Membesarkan gambar saat tombol dihover */
}
.new-filter-container .filter-btn:hover .button-text {
    opacity: 0; /* Menghilangkan teks saat hover */
}

.new-filter-container::-webkit-scrollbar {
    display: none; /* Sembunyikan scrollbar */
}
#reset-opacity {
    position: absolute; /* Posisi absolut */
    top: 125px; /* Jarak dari atas */
    left: 5px; /* Jarak dari kanan */
    background: none; /* Tanpa latar belakang */
    border: none; /* Tanpa border */
    cursor: pointer; /* Tunjukkan kursor pointer saat hover */
    padding: 5px; /* Padding untuk memberi ruang di sekitar gambar */
    outline: none; /* Hapus outline default */
    transition: transform 0.2s; /* Tambahkan transisi untuk efek hover */
    z-index: 900; /* Pastikan tombol berada di atas elemen lain */
}
.count-container {
        position: absolute;
        top: auto;  /* Menghilangkan properti top dari versi global */
        left: 5px;  /* Posisi di sebelah kiri */
        right: auto; /* Menghindari masalah dengan right jika ada */
        bottom: 5px; /* Posisi di bawah */
        background: rgba(19, 39, 96, 0.613);
        color: white;
        border-radius: 10px;
        border: 2px solid #889dcb;
        padding: 7px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: row;
        gap: 4px;
        z-index: 1290;
        font-family: Arial, sans-serif;
        flex-wrap: nowrap;  /* Mencegah item berbaris ke bawah */
        overflow-x: auto;   /* Menambahkan scroll horizontal jika item terlalu banyak */
    }
.trakteer-overlay {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 125px;
  height: 165px;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out; /* Animasi geser */
}
.trakteer-frame {
  width: 290%;
  height: 290%;
  transform: scale(0.4);
  transform-origin: 0 0;
  border: none;
  display: block;
}